<div>
    <div class="athlete_info_options">
      <div class="athlete_info">
          <span class="athlete_name">{{individual.athlete.first_name}} {{individual.athlete.last_name}}</span>
          <span class="athlete_category">{{individual.athlete.match_type|title}} {{individual.athlete.category|title}} {{individual.athlete.gender|title}}</span>
      </div>
      <div class="buttons-settings-wrapper">
        <div id="buttons-container-{{individual.id}}" class="buttons-container">
          <a onclick="toggleAthleteDetails('{{individual.id|safe}}')" class="view_button">
            <span class="text">Consultar</span>
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
              </svg>
            </span>
          </a>
          <form action="{% url 'registration-delete' 'individual' individual.id comp_id %}" method="post">
            {% csrf_token %}
            <button class="delete_button single" type="submit">
              <span class="text">Eliminar inscrição</span>
              <span class="icon">
                  <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
                  ></path>
                </svg>
              </span>
            </button>
          </form>
        </div>
        <!-- options button -->
        <button class="setting-btn" onclick="toggleRegistrationOptions('{{individual.id|safe}}')">
          <span class="bar bar1"></span>
          <span class="bar bar2"></span>
          <span class="bar bar1"></span>
        </button>
      </div>
    </div>
    <div id="athlete-details-{{individual.id}}" class="athlete-details">
      <span class="athlete_name">Dojo: {{individual.athlete.dojo}}</span>
      <span class="athlete_name">Nº SKI-P: {{individual.athlete.skip_number|default:"Não atribuído"}}</span>
      <span class="athlete_match_type">Data de nascimento: {{individual.athlete.birth_date|date:"d-m-Y"}}</span>
      <span class="athlete_category">Peso: {{individual.athlete.weight|default:"Não especificado"}}{% if individual.athlete.weight != None and individual.athlete.weight != "open" %}Kg{% endif %}</span>
      <span class="athlete_category">Idade (no início do ano): {{individual.athlete.age}}</span>
    </div>
    <hr>
</div>