<div>
    <div class="athlete_info_options">
      <div class="athlete_info">
          <span class="athlete_name">{{individual.athlete.first_name}} {{individual.athlete.last_name}}</span>
          <span class="athlete_category">{{individual.athlete.match_type|title}} {{individual.athlete.category|title}} {{individual.athlete.gender|title}}</span>
      </div>
      <div class="buttons-settings-wrapper">
        <div id="buttons-container-{{athlete.id}}" class="buttons-container">
          <a onclick='toggleAthleteDetails({{athlete.id|safe}})' class="view_button">
            <span class="text">Consultar</span>
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
              </svg>
            </span>
          </a>
          
        </div>
        <button class="setting-btn" onclick="toggleRegistrationOptions({{athlete.id|safe}})">
          <span class="bar bar1"></span>
          <span class="bar bar2"></span>
          <span class="bar bar1"></span>
        </button>
      </div>
    </div>
    <div id="athlete-details-{{athlete.id}}" class="athlete-details">
      <span class="athlete_name">Dojo: {{athlete.dojo}}</span>
      <span class="athlete_name">Nº SKI-P: {{athlete.skip_number|default:"Não atribuído"}}</span>
      <span class="athlete_match_type">Data de nascimento: {{athlete.birth_date|date:"d-m-Y"}}</span>
      <span class="athlete_category">Peso: {{athlete.weight|default:"Não especificado"}}{% if athlete.weight != None and athlete.weight != "open" %}Kg{% endif %}</span>
      <span class="athlete_category">Idade (no início do ano): {{athlete.age}}</span>
    </div>
    <hr>
</div>