Django==5.1.1
matplotlib==3.5.2
nanoid==2.0.0
pandas==1.4.2
Requests==2.32.3
seaborn==0.13.2
django-view-breadcrumbs==2.5.1
python-dotenv==1.0.1
drf-nested-routers==0.94.1
djangorestframework==3.15.2
drf-spectacular==0.28.0
django-cors-headers==4.7.0
