{% extends "registration/base.html" %}
{% block content%}

<div style="display: flex; justify-content: center;">
  <div class="login-container">
    <h2>Login</h2>

    <form action="" method="post">
      {% csrf_token %}
      <label for="id_username">Nome de utilizador (Dojo):</label>
      <p style="font-size: 12px">Coloque o username que selecionou ao criar conta (maiúsculas)</p>
      <input type="text" id="id_username" name="username">
      <label for="id_password">Palavra passe:</label>
      <input type="password" id="id_password" name="password">
      <a href=""  class="forgotten-password">Esqueceu-se da Palavra Passe?</a>
      <button class="default-button">Entrar</button>
    </form>
    <div style="margin-top: 40px; font-size: smaller;">Não tem uma conta? <a href="{% url 'dojos-register' %}"> Clique aqui para criar.</a></div>
  </div>
</div>
{% endblock content %}
