{% extends "registration/base.html" %} 
{% block content%}

  <div class="profile-container">
    <div class="profile-info">
        <p>Dojo: {{ user.username }}</p>
        <p>Responsável: {{ user.first_name}} {{ user.last_name }}</p>
        <p>Email associado: {{user.email}}</p>
        <p> Contactos: {{ user.profile.dojo_contact }}</p>
        <a href="{% url 'dojos-update-account' %}" class="update_button">
          <span class="text">Editar</span>
          <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
            </svg>
          </span>
        </a>
        <div class="info-container">
          <span class="containers-label">Ajuda</span>
          <p>Aqui poderá encontrar todas as provas em que compareceu.</p>
        </div>
        <h4 style="width: fit-content">Presente nas provas:</h4>
        <ul style="margin-bottom: 50px; width: fit-content;">
          {% for unique_comp in unique_comps %}
            <li style="cursor: pointer;">{{unique_comp}}</li>
          {% endfor %}
        </ul>
        <div class="info-container important">
            <span class="containers-label">Pedidos</span>
            <br>
            As ações feitas dentro desta secção são IRREVERSÍVEIS! Terá ainda uma hipótese de decidir após carregar uma primeira vez.
            <p></p>
            <p><span id="delete-account-span" class="span-links">Pedir anulação de conta</span></p>
            <p><span id="request-account-span" class="span-links">Pedir renovação de conta</span></p>
            <p><a id="confirm-delete" href="{% url 'dojos-change-password' %}">Recuperação de palavra passe</a></p>
        </div>
    </div>
    <div class="profile-pic-container">
        <img src="{{ user.profile.image.url }}" alt="foto de perfil">
    </div>
    <!-- Modal windows -->
    <div id="deleteModal" class="delete-modal">
      <div>
        <p>Tem a certeza que quer eliminar a sua conta? Esta ação não pode ser desfeita e todos os dados da sua conta serão perdidos.</p>
        <div class="modal-options">
          <a id="confirm-delete" href="{% url 'dojos-delete-account' %}">Confirmar</a>
          <a id="cancel-delete" class="span-links">Cancelar</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
