{% extends "registration/base.html" %} 
{% block content%}
<div>
  <p>Cada dojo poderá criar conta com o nome do seu dojo, que aparecerá na caixa de seleção</p>
  <p>Só aparecerão dojos com vinculo à SKI-P. Caso seja este o seu caso, e o nome do seu dojo não esteja presente, contacte.</p>
  <p>Deve depois preencher os restantes dados com as informações do responsável do dojo. 
    Será para esse email que serão enviadas confirmações/pedidos à cerca das inscrições</p>
</div>

<h2>Registo de Dojo</h2>

<form action="" method="post">
  {% csrf_token %} 
  {{form.as_p}}
  <div style="display: flex; gap: 20px; margin-top: 40px;">
    <button class="default-button">Criar conta</button>
    <button class="default-button" onclick="location.href='/login/'">Ir para Login</button>  
  </div>
</form>
{% endblock content %}
