:root {
}

/* default elements */

body {
  font-size: 1.2rem;
  width: 80%;
  margin: auto;
  font-family: "Trebuchet MS", "Arial";
}

select,
input {
  border-radius: 0.35rem;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  -ms-border-radius: 0.35rem;
  -o-border-radius: 0.35rem;
  border: 1px solid black;
  height: 25px;
}

input[type="checkbox"] {
  width: 18px;
}

select option {
  font-size: larger;
}

h2 {
  width: fit-content;
}

h4 {
  margin-top: 30px;
  margin-bottom: 15px;
}

li {
  margin-bottom: 10px;
}