:root {
}

/* default elements */

body {
  font-size: 1.2rem;
  width: 80%;
  margin: auto;
  font-family: "Trebuchet MS", "Arial";
}

select,
input {
  border-radius: 0.35rem;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  -ms-border-radius: 0.35rem;
  -o-border-radius: 0.35rem;
  border: 1px solid black;
  height: 25px;
}

input[type="checkbox"] {
  width: 18px;
}

select option {
  font-size: larger;
}

h2 {
  width: fit-content;
}

h4 {
  margin-top: 30px;
  margin-bottom: 15px;
}

li {
  margin-bottom: 10px;
}

/* Login page */

.info-container {
  display: block !important;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid #0064cf;
  border-radius: 8px;
  font-size: 1rem;
  padding: 0 20px 0 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.info-container p:first-of-type {
  margin-top: 0;
}

.important {
  border: 2px solid #ff2222;
}

.containers-label {
  background-color: white;
  position: relative;
  top: -15px;
  left: 20px;
  padding: 0 10px 0 10px;
  font-size: larger;
}

.login-container {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 2px solid #e62222;
  padding: 30px;
  text-align: center;
  margin-top: 50px;
}

.login-container h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-container form label {
  margin-top: 20px;
  font-size: smaller;
}

.login-container form input {
  width: 100%;
  margin-top: 10px;
}

.forgotten-password {
  font-size: small;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 20px;
}

.alert {
  border-radius: 8px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-bottom: 10px;
}

.alert-info {
  background-color: yellow;
  color: black;
}

.alert-error {
  background-color: #df6060;
  color: white;
}

.alert-success {
  background-color: #7dfd6de8;
  color: white;
}

.spinning-wheel {
  width: 30px;
  height: 30px;
  font-size: 500%;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  --color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filler-wheel {
  height: 22px;
  width: 22px;
  background-color: #7dfd6de8;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 99;
}

.spinning-wheel::before,
.spinning-wheel::after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 0.5em 0 0 0.5em;
  transform-origin: center right;
  animation-iteration-count: 1;
  animation-duration: 10s;
}

.spinning-wheel::before {
  z-index: 1;
  background-color: #7dfd6de8;
  animation-name: mask;
  animation-timing-function: steps(1);
}

.spinning-wheel::after {
  background-color: var(--color);
  animation-name: rotate;
  animation-timing-function: linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

@keyframes mask {
  50%,
  100% {
    background-color: var(--color);
    transform: rotate(0.5turn);
  }
}

.top-header-container {
  z-index: 99;
  width: 100%;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  font-size: smaller;
  height: 22px;
  text-align: center;
  box-shadow: 0px 0px 50px 2px gray;
}

.top-header-container .icon {
  height: 22px;
  position: fixed;
  right: 0;
  top: 0;
  padding-right: 30px;
  background-color: red;
  cursor: pointer;
}

.logos_container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.main_skip_logo {
  width: 100px;
  height: 100px;
  /* margin-left: 30px; */
}

.appname_span {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  border-bottom: 1px solid red;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.appname_span:hover {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-bottom: 5px solid red;
}

.appname_span.active {
  border-bottom: 5px solid red;
}

.main-content {
  min-height: 60dvb;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.page-selection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  margin-top: 30px;
}

.appname_span:hover {
  color: red;
}

.current_user {
  text-align: right;
  margin: 0;
  margin-bottom: 10px;
}

.dojos-actions {
  width: fit-content;
  display: flex;
  gap: 20px;
  align-items: center;
}

.competition-card-selector {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 30px;
  gap: 20px;
  flex-wrap: wrap;
}

.competition-card-selector button {
  margin-top: 20px;
}

.competition-card {
  width: 42%;
  min-height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 2px solid red;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.competition-card span {
  margin-top: 10px;
}

.nav-options-button {
  width: 100%;
  margin: auto;
}

.menu-main-wrapper {
  display: flex;
}

.nav-button-container {
  border-right: 1px solid grey;
  margin-top: 20px;
  margin-right: 30px;
  padding-right: 10px;
}

.options-nav-menu {
  height: 300px;
  width: 120px;
  margin-top: 20px;
  left: 10%;
  display: none;
  z-index: 1;
}

.options-nav-menu a {
  font-size: 20px;
}

.help-container {
  font-size: smaller;
  line-height: 1.9rem;
  max-width: 1000px;
  padding-left: 20px;
}

.profile-container {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}

.profile-info {
  width: 700px;
}

.profile-pic-container {
  margin-top: 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  border: 3px solid red;
  position: relative;
}

.profile-pic-container img {
  width: 250px;
  height: 250px;
  position: absolute;
  top: -15px;
  left: -15px;
}

.profile-info .info-container p {
}

.archived-athletes-container {
  display: none;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
}

.archived-athletes-container div {
  padding: 5px;
  border-bottom: 1px solid black;
}

.span-links {
  text-decoration: underline;
  cursor: pointer;
}

.span-links:hover {
  color: tomato;
}

.delete-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.delete-modal div:first-child {
  border-radius: 10px;
  border: 2px solid red;
  background: white;
  width: 400px;
  margin: 200px auto;
  padding: 2px 40px 20px 40px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.modal-options {
  display: flex;
  justify-content: space-evenly;
}

.main-form {
  width: 100%;
}

.main-form p:nth-child(11) {
  margin-bottom: 0;
}

.main-form div:first-of-type {
  display: flex;
  gap: 20px;
}

.main-form div div input {
  margin: 0;
}

.form-selection-boxes {
  display: flex;
  align-content: center;
  align-items: center;
}

.form-selection-boxes label {
  margin-right: 10px;
}

.form-submit-options {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.filter-options-container {
  font-size: 1.1rem;
  display: flex;
  border-bottom: 2px double rgb(170, 39, 39);
  margin-bottom: 10px;
  margin-top: 40px;
  padding-bottom: 10px;
  gap: 10px;
}

.filter-options-container form {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.filter_form {
  display: flex;
  gap: 20px;
  align-items: end;
  /* justify-content: ; */
}

.filter_form label {
  margin-right: 5px;
}

.athlete_info_options {
  margin-top: 25px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.athlete_info {
  width: 600px;
  margin-left: 20px;
}

.athlete_info .athlete_match_type {
  position: absolute;
  left: 400px;
}

.athlete_info .athlete_category {
  float: right;
}

.athlete_info .athlete_name {
  min-width: 275px;
  display: inline-block;
  overflow: auto;
}

.athlete-details {
  display: none;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.team-search {
  align-items: center;
}

.team_composition {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.team_athlete_details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}

.athlete-details-preview {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.login-buttons {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #ff2222, #ec9090);
  border-radius: 12px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  font-weight: bold;
  padding: 0.6em 1.5em;
  text-decoration: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.login-buttons:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.buttons-settings-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.main-ops {
  display: flex;
  justify-content: space-between;
}

.main-ops .delete_button {
  margin-top: 30px;
}

.buttons-container {
  display: none;
  gap: 10px;
  /* padding-left: 200px; */
}

.default-button {
  font-size: 15px;
  height: 30px;
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #e62222;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: white;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

.default-button:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.default-button:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.delete_button {
  width: 220px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
}

.delete_button,
.delete_button span {
  transition: 200ms;
}

.delete_button .text {
  font-size: 15px;
  transform: translateX(25px);
  color: white;
  font-weight: bold;
  -webkit-transform: translateX(25px);
  -moz-transform: translateX(25px);
  -ms-transform: translateX(25px);
  -o-transform: translateX(25px);
}

.delete_button .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(170px);
  height: 30px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transform: translateX(170px);
  -moz-transform: translateX(170px);
  -ms-transform: translateX(170px);
  -o-transform: translateX(170px);
}

.delete_button svg {
  width: 15px;
  fill: #eee;
}

.delete_button:hover {
  background: #ff3636;
}

.delete_button:hover .text {
  color: transparent;
}

.delete_button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(30px);
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -ms-transform: translateX(30px);
  -o-transform: translateX(30px);
}

.delete_button:focus {
  outline: none;
}

.delete_button:active .icon svg {
  transform: scale(0.8);
}

.add_button {
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #00a600;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

.add_button,
.add_button span {
  transition: 200ms;
}

.add_button .text {
  font-size: 15px;
  transform: translateX(20px);
  color: white;
  font-weight: bold;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
}

.add_button .icon {
  position: absolute;
  border-left: 1px solid #007300;
  transform: translateX(110px);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_button svg {
  width: 15px;
  fill: #eee;
}

.add_button:hover {
  background: #28eb28;
}

.add_button:active {
  background: #00cc00;
}

.add_button:hover .text {
  color: transparent;
}

.add_button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(-5px);
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
}

.add_button:focus {
  outline: none;
}

.add_button.teams {
  width: 200px;
}

.add_button.teams .icon {
  transform: translateX(160px);
  -webkit-transform: translateX(160px);
  -moz-transform: translateX(160px);
  -ms-transform: translateX(160px);
  -o-transform: translateX(160px);
}

.add_button.teams:hover .icon {
  transform: translateX(25px);
  -webkit-transform: translateX(25px);
  -moz-transform: translateX(25px);
  -ms-transform: translateX(25px);
  -o-transform: translateX(25px);
}

.buttonSpan {
  color: white;
  margin: 150px;
  font-size: 30px;
}

.update_button {
  font-size: 15px;
  width: 140px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #fd7e14;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  text-align: center;
}

.update_button.update_password {
  margin-top: 20px;
  width: 250px;
}

.update_button.update_password .icon {
  transform: translateX(200px);
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
}

.update_button.update_password:hover .icon {
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
}

.update_button,
.update_button span {
  transition: 200ms;
}

.update_button .text {
  transform: translateX(30px);
  color: white;
  font-weight: bold;
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -ms-transform: translateX(30px);
  -o-transform: translateX(30px);
}

.update_button .icon {
  position: absolute;
  border-left: 1px solid #b75d13;
  transform: translateX(100px);
  height: 30px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
}

.update_button svg {
  width: 15px;
  fill: #eee;
}

.update_button:hover {
  background: #ff8d30;
}

.update_button:active {
  background: #f37813;
}

.update_button:hover .text {
  color: transparent;
}

.update_button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

.update_button:focus {
  outline: none;
}

.update_button:active .icon svg {
  transform: scale(0.8);
}

.view_button {
  font-size: 15px;
  width: 160px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #007bff;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  text-align: center;
}

.view_button,
.view_button span {
  transition: 200ms;
}

.view_button .text {
  transform: translateX(30px);
  color: white;
  font-weight: bold;
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -ms-transform: translateX(30px);
  -o-transform: translateX(30px);
}

.view_button .icon {
  position: absolute;
  border-left: 1px solid #005cbf;
  transform: translateX(120px);
  height: 30px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
  -webkit-transform: translateX(120px);
  -moz-transform: translateX(120px);
  -ms-transform: translateX(120px);
  -o-transform: translateX(120px);
}

.view_button svg {
  width: 15px;
  fill: #eee;
}

.view_button:hover {
  background: #3999ff;
}

.view_button:active {
  background: #0064cf;
}

.view_button:hover .text {
  color: transparent;
}

.view_button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}

.view_button:focus {
  outline: none;
}

.view_button:active .icon svg {
  transform: scale(0.8);
}

.setting-btn {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: rgb(19, 11, 51);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 0px 2px rgb(255, 209, 209);
  margin-right: 20px;
}

.bar {
  width: 60%;
  height: 2px;
  background-color: rgb(229, 229, 229);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 2px;
}

.bar::before {
  content: "";
  width: 2px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.3s;
  box-shadow: 0px 0px 5px white;
}

.bar1::before {
  transform: translateX(-4px);
}

.bar2::before {
  transform: translateX(4px);
}

.setting-btn:hover .bar1::before {
  transform: translateX(4px);
}

.setting-btn:hover .bar2::before {
  transform: translateX(-4px);
}

.pagination {
  display: flex;
  align-items: flex-end;
  width: 200px;
  justify-content: center;
  gap: 10px;
}

.alone {
  margin-top: 25px;
  margin-left: auto;
}

.pagination a {
  text-decoration: none;
}

.pagination .other-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  width: 35px;
  height: 35px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  cursor: pointer;
}

.pagination .other-pages:hover {
  background-color: red;
  color: white;
}

.pagination .current {
  text-align: center;
  border: 1px solid red;
  background-color: red;
  width: 35px;
  height: 35px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  cursor: pointer;
}

.footer-container {
  height: 100px;
  width: 100%;
  margin-top: 50px;
  border-top: 2px double rgb(170, 39, 39);
  font-size: smaller;
  position: relative;
  display: flex;
  justify-content: center;
}

.bureaucracy {
  width: 80%;
  height: fit-content;
}

.http-error-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.http-error-container h2 {
  color: #c41b1b;
}

/* medias */

@media (width < 1500px) {
  .athlete_info {
    width: 480px;
  }

  .athlete_info .athlete_name {
    min-width: 200px;
  }

  .athlete_info .athlete_match_type {
    left: 300px;
  }
}

@media (width < 1300px) {
  body {
    width: 90%;
  }

  .main-content {
    width: 80%;
    margin: auto;
  }

  .filter_form {
  }

  .filter_form div {
    width: 150px;
  }

  .athlete_info_options {
    width: 80%;
    margin: auto;
    display: block;
    height: fit-content;
  }

  .athlete_info {
    margin-left: 50px;
  }

  .buttons-settings-wrapper {
    margin-top: 10px;
    width: 650px;
    justify-content: right;
  }

  .athlete_info .athlete_match_type {
    left: 550px;
  }

  .athlete-details {
    text-align: center;
  }
}

@media (width < 1150px) {
  .filter_form {
    width: 500px;
    justify-content: right;
  }
}

@media (width < 1000px) {
  .filter_form {
    width: 500px;
    justify-content: right;
  }

  .competition-card {
    width: 100%;
  }
}

@media (width < 800px) {
  .logos_container span {
    display: none;
  }

  .top-header-container {
    font-size: 0.9rem;
    height: fit-content;
  }
}

@media (width < 500px) {
  body {
    font-size: 1rem;
  }

  .top-header-container {
    overflow: hidden;
    height: fit-content;
  }

  .top-header-container .icon {
    height: fit-content;
    padding-right: 20px;
  }

  .scrolling-text {
    width: 600px;
    display: inline-block;
    padding-left: 100%;
    animation: scrollText 12s linear infinite;
    -webkit-animation: scrollText 12s linear infinite;
  }

  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .header-container {
    margin-top: 20px;
  }

  .logos_container a,
  .logos_container span {
    display: none;
  }

  .nav-options-button {
    width: 60%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 1px 1px 9px gray;
    margin-bottom: 20px;
  }

  .nav-options-button img {
    margin: auto;
    cursor: pointer;
  }

  .menu-main-wrapper {
    flex-direction: column;
  }

  .nav-button-container {
    border: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-size: smaller;
  }

  .options-nav-menu {
    width: 100%;
    height: fit-content;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
  }

  .competition-card {
    width: 100%;
  }

  .profile-info {
    width: 100%;
  }

  .profile-pic-container {
    display: none;
  }

  .info-container {
    width: 85%;
  }

  .page-selection {
    align-items: center;
    gap: 20px;
  }

  .help-container {
    padding: 0;
  }

  .form-submit-options {
    flex-direction: column;
    gap: 10px;
  }

  .filter-options-container {
    display: none;
  }

  .athlete_info {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .athlete_info_options {
    width: 100%;
  }

  .athlete_info .athlete_name {
    width: 100%;
  }

  .athlete_info .athlete_match_type {
    position: relative;
    left: 0;
  }

  .athlete_info .athlete_category {
    float: none;
  }

  .buttons-settings-wrapper {
    width: 100%;
    justify-content: center;
  }

  .setting-btn {
    margin: 0;
  }

  .view_button .text,
  .single .text,
  .update_button .text {
    display: none;
    will-change: transform;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }

  .view_button .icon,
  .update_button .icon {
    width: 50px;
    will-change: transform;
    border: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }

  .single .icon {
    width: 40px;
    will-change: transform;
    border: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }

  .view_button,
  .single,
  .update_button {
    width: 50px;
  }

  .view_button:hover .icon,
  .update_button:hover .icon {
    will-change: transform;
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
  }

  .single:hover .icon {
    will-change: transform;
    transform: translateX(-55px);
    -webkit-transform: translateX(-55px);
    -moz-transform: translateX(-55px);
    -ms-transform: translateX(-55px);
    -o-transform: translateX(-55px);
  }

  .view_button:not(:hover) {
    transform: none !important;
  }

  .team_athlete_details {
    padding-bottom: 5px;
  }

  .team_athlete_details:not(:nth-last-child(1)) {
    border-bottom: 1px solid gray;
  }

  .main-ops {
    display: block;
  }
}
