:root {
}

body {
  font-size: 1.2rem;
  width: 80%;
  margin: auto;
  font-family: "Trebuchet MS", "Arial";
}

.logos_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main_skip_logo {
  width: 100px;
  height: 100px;
}

.appname_span {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.current_user {
  text-align: right;
  margin: 0;
}

.dojos-actions {
  width: 150px;
  display: flex;
  justify-content: space-around;
}

.filter-options-container {
  height: 30px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filter-options-container form {
  display: flex;
  gap: 20px;
}

.athlete_info_options {
  margin-top: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.athlete_info {
  width: 500px;
}

.athlete_info .athlete_match_type {
  position: absolute;
  left: 450px;
}

.athlete_info .athlete_category {
  float: right;
}

.athlete-details {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.delete_button {
  width: 220px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
}

.delete_button,
.delete_button span {
  transition: 200ms;
}

.delete_button .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
  -webkit-transform: translateX(35px);
  -moz-transform: translateX(35px);
  -ms-transform: translateX(35px);
  -o-transform: translateX(35px);
}

.delete_button .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(170px);
  height: 30px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transform: translateX(170px);
  -moz-transform: translateX(170px);
  -ms-transform: translateX(170px);
  -o-transform: translateX(170px);
}

.delete_button svg {
  width: 15px;
  fill: #eee;
}

.delete_button:hover {
  background: #ff3636;
}

.delete_button:hover .text {
  color: transparent;
}

.delete_button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(30px);
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -ms-transform: translateX(30px);
  -o-transform: translateX(30px);
}

.delete_button:focus {
  outline: none;
}

.delete_button:active .icon svg {
  transform: scale(0.8);
}

.add_button {
  width: 150px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #00a600;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

.add_button,
.add_button span {
  transition: 200ms;
}

.add_button .text {
  transform: translateX(25px);
  color: white;
  font-weight: bold;
  -webkit-transform: translateX(25px);
  -moz-transform: translateX(25px);
  -ms-transform: translateX(25px);
  -o-transform: translateX(25px);
}

.add_button .icon {
  position: absolute;
  border-left: 1px solid #007300;
  transform: translateX(110px);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_button svg {
  width: 15px;
  fill: #eee;
}

.add_button:hover {
  background: #28eb28;
}

.add_button:active {
  background: #00cc00;
}

.add_button:hover .text {
  color: transparent;
}

.add_button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(-5px);
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
}

.add_button:focus {
  outline: none;
}

.add_button:active .icon svg {
  transform: scale(0.8);
}

.buttonSpan {
  color: white;
  margin: 150px;
  font-size: 30px;
}

.update_button {
  font-size: 15px;
  width: 140px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #fd7e14;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  text-decoration: none; 
  text-align: center;
}

.update_button,
.update_button span {
  transition: 200ms;
}

.update_button .text {
  transform: translateX(30px);
  color: white;
  font-weight: bold;
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -ms-transform: translateX(30px);
  -o-transform: translateX(30px);
}

.update_button .icon {
  position: absolute;
  border-left: 1px solid #b75d13;
  transform: translateX(100px);
  height: 30px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
}

.update_button svg {
  width: 15px;
  fill: #eee
}

.update_button:hover {
  background: #ff8d30;
}

.update_button:active {
  background: #f37813;
}

.update_button:hover .text {
  color: transparent;
}

.update_button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

.update_button:focus {
  outline: none;
}

.update_button:active .icon svg {
  transform: scale(0.8);
}

.view_button {
  font-size: 15px;
  width: 160px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #007bff;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  text-decoration: none; 
  text-align: center;
}

.view_button,
.view_button span {
  transition: 200ms;
}

.view_button .text {
  transform: translateX(30px);
  color: white;
  font-weight: bold;
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -ms-transform: translateX(30px);
  -o-transform: translateX(30px);
}

.view_button .icon {
  position: absolute;
  border-left: 1px solid #005cbf;
  transform: translateX(120px);
  height: 30px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
  -webkit-transform: translateX(120px);
  -moz-transform: translateX(120px);
  -ms-transform: translateX(120px);
  -o-transform: translateX(120px);
}

.view_button svg {
  width: 15px;
  fill: #eee
}

.view_button:hover {
  background: #3999ff;
}

.view_button:active {
  background: #0064cf;
}

.view_button:hover .text {
  color: transparent;
}

.view_button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}

.view_button:focus {
  outline: none;
}

.view_button:active .icon svg {
  transform: scale(0.8);
}
