{% load static %}
{% load view_breadcrumbs %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% if title %}
    <title>SKI-P - {{title}}</title>
    {% else %}
    <title>SKIP - Plataforma</title>
    {% endif %}
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'registration/css/main.css' %}"
    />
    <link rel="shortcut icon" type="image/ico" href="{% static 'registration/images/favicon.ico' %}" >
    <script src="{% static 'registration/js/main.js' %}"></script>
  </head>
  <body>
    <div class="top-header-container" id="top-header-container">
      <span class="scrolling-text">Novas atualizações feitas depois da 2ª Liga! Recomendado ler a <a href="/help/">Ajuda</a>!</span>
      <span class="icon" onclick="toggleTopHeaderContainer()">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12"
        height="12"
        viewBox="0 0 24 24">
          <path
            d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
          ></path>
        </svg>
      </span>
    </div>
    <div class="header-container">
      <div class="logos_container">
        <img
          src="{% static 'registration/images/skip-logo.png' %}"
          alt="SKI-P logo"
          class="main_skip_logo"
        />
        <a class="appname_span" href="{% url 'registration-help' %}"
          >Karate Score App</a
        ><span> Época {{current_season}}</span>
      </div>
        <div class="dojos-actions">
          {% if user.is_authenticated %}
            <a class="login-buttons" href="{% url 'dojos-logout' %}">Logout</a>
            <a class="login-buttons" href="{% url 'dojos-profile' %}">Perfil</a>
          {% else %}
          <a class="login-buttons" href="{% url 'dojos-login' %}">Login</a>
          <a class="login-buttons" href="{% url 'dojos-register' %}">Criar Conta</a>
          {% endif %}
        </div>
    </div>
    {% if user.is_authenticated %}
      <p class="current_user">Autenticado como <strong>{{user.username}}</strong></p>
    {% endif %}
    {% if messages %}
      <div class="messages" id="messages">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
      <script>
        hideMessagesAfterTimeout({{ message.tags }}); // 10 seconds
      </script>
    {% endif %}
    <div class="menu-main-wrapper">
      <div class="nav-button-container">
        <div onclick="toggleOptionsContainer()" class="nav-options-button">
          <img
            style="cursor: pointer;" 
            width="32" 
            height="32" 
            src="https://img.icons8.com/windows/32/menu--v1.png" alt="menu--v1"/>
        </div>
        <nav class="options-nav-menu" id="options-nav-menu">
          <div class="page-selection">
            {% if user.is_authenticated %}
              <a class="appname_span" href="{% url 'registration-athletes' %}">Atletas</a>
              <a class="appname_span" href="{% url 'registration-home' %}">Competições</a>
            {% endif %}
            <a class="appname_span" href="{% url 'registration-help' %}">Ajuda</a>
            <a class="appname_span" href="{% url 'dojos-feedback' %}">Feedback</a>
          </div>
        </nav>
      </div>
      <div class="main-content">
      {% block content %}
      {% endblock %}
      </div>
    </div>
    <div class="footer-container">
      <div class="bureaucracy">
        <p>
          Plaforma de registos integrante do sistema
          <a href="https://karate-score-app.netlify.app/">Karate Score App</a>.
        </p>
        <p>Todos os direitos reservados ao autor.</p>
        <p>Para mais informações, contactar pelo 917479331 ou <a href="mailto:jpsfreitas12@gmail.com">jpsfreitas12@gmail.com</a></p>
      </div>
      <div class="contacts">
        <p></p>
      </div>
    </div>
  </body>
</html>
