{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% if title %}
    <title>SKI-P - {{title}}</title>
    {% else %}
    <title>SKIP - Plataforma</title>
    {% endif %}
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'registration/css/main.css' %}"
    />
    <script src="{% static 'registration/js/main.js' %}"></script>
  </head>
  <body>
    <div class="header-container">
      <div class="logos_container">
        <img
          src="{% static 'registration/images/skip-logo.png' %}"
          alt="SKI-P logo"
          class="main_skip_logo"
        />
        <a class="appname_span" href="{% url 'registration-home' %}"
          >Karate Score App</a
        >
        {% if user.is_authenticated %}
        <div class="page-selection">
          <a class="appname_span" href="{% url 'registration-athletes' %}">Atletas</a>
          <a class="  appname_span" href="{% url 'registration-teams' %}">Equipas</a>
        </div>
        {% endif %}
      </div>

      <div class="dojos-actions">
        <a class="  appname_span" href="{% url 'dojos-feedback' %}">Feedback</a>
        {% if user.is_authenticated %}
        <a class="login-buttons" href="{% url 'dojos-logout' %}">Logout</a>
        <a class="login-buttons" href="{% url 'dojos-profile' %}">Perfil</a>
        {% else %}
        <a class="login-buttons" href="{% url 'login' %}">Login</a>
        <a class="login-buttons" href="{% url 'dojos-register' %}"
          >Criar Conta</a
        >
        {% endif %}
      </div>
    </div>
    {% if user.is_authenticated %}
      <p class="current_user">Autenticado como <strong>{{user.username}}</strong></p>
    {% endif %}
    <div class="main-content">{% block content %}{% endblock %}</div>
    <div class="footer-container">
      <div class="bureaucracy">
        <p>
          Plaforma de registos integrante do sistema
          <a href="https://karate-score-app.netlify.app/">Karate Score App</a>.
        </p>
        <p>Todos os direitos reservados ao autor.</p>
        <p>Para mais informações, contactar pelo 917479331 ou jpsfreitas12@gmail.com</p>
      </div>
      <div class="contacts">
        <p></p>
      </div>
    </div>
  </body>
</html>
