{% extends "registration/base.html" %}
{% block content%}
    <h2>Registo de Atleta</h2>

    <div class="info-container">
        <span class="containers-label">Info</span>
        <p>A regras em vigor ditam que a idade considerada para determinação de escalão
            é a idade que uma atleta tem no primeiro dia do último ano da presente época.
        </p>
        <p>Por exemplo: Um atleta nascido no dia 16 de dezembro de 2010 terá, para todas as provas da época 2024/2025,
            <strong>14 anos</strong>, independentemente da idade a que se apresentar a dada prova. Isto é, havendo uma prova
            no dia 02 de novembro de 2024, o atleta terá na realidade 13 anos e por isso seria Juvenil, no entanto, essa não é 
            a idade tida em conta, mas sim a do dia 1 de janeiro de 2025, onde terá 14 anos e será Cadete.
        </p>
    </div>

    <form method="post" class="main-form">
        {% csrf_token %}
        <p>
            <label>{{ form.first_name.label }}:</label> {{ form.first_name }}
        </p>
        <p>
            <label>{{ form.last_name.label }}:</label> {{ form.last_name }}
        </p>
        <p>
            <label>{{ form.graduation.label }}:</label> {{ form.graduation }}
        </p>
        <p>
            <label>{{ form.birth_date.label }}:</label> {{ form.birth_date }}
        </p>
        <p>
            <label>{{ form.skip_number.label }}:</label> {{ form.skip_number }}
        </p>
        <div class="info-container important">
            <span class="containers-label">Atenção</span>
            <p>O campo <strong>Aluno</strong> deve ser selecionado caso o "atleta" que está a inscrever, não é na verdade um atleta. Ou seja,
                se esse apenas for um aluno/praticante dentro da sua academia, e que pretende, mais tarde, inscrever num estágio.
            </p>
            <p>Como poderá verificar, se selecionar esta caixa, os restantes campos serão escondidos, sendo que essa informação não
                é necessário para esses casos.
            </p>
        </div>
        <p class="form-selection-boxes">
            <label id="hide_fields">{{ form.is_just_student.label }}:</label> {{ form.is_just_student }}
        </p>
        <div style="display: flex; flex-direction: column;" id="athlete_fields">
            <div class="info-container info">
            <span class="containers-label">Info</span>
            <p>De modo a incluir novas categorias de torneios criados por dojos, 
                os escalões encontram-se, para já, dividios por "(n/SKIP)". 
                Os escalões com esta tag são prórpios para englobar os diferentes escalões destas provas,
                e por isso podem ser usados para criar atletas que irão ser inscritos nas mesmas. Os restantes escalões
                seguem as regras normais da SKIP.</p>
        </div>
            <p>
                <label>{{ form.category.label }}:</label> {{ form.category }}
            </p>
            <p>
                <label>{{ form.gender.label }}:</label> {{ form.gender }}
            </p>
            <p>
                <label>{{ form.weight.label }}:</label> {{ form.weight }}
                {{ form.weight.help_text|safe }}
            </p>
            <p class="form-selection-boxes">
                <label for="id_match_type_kata">Kata: </label>
                <input type="checkbox" id="id_match_type_kata" name="match_type_kata">
            </p>
            <p class="form-selection-boxes">
                <label for="id_match_type_kumite">Kumite: </label>
                <input type="checkbox" id="id_match_type_kumite" name="match_type_kumite">
            </p>
        </div>

        <div class="form-submit-options">
            <button type="submit" name="action" value="save_back" class="default-button">Submeter e Voltar</button>
            <button type="submit" name="action" value="save_add" class="default-button">Submeter e Adicionar Novo</button>
            <button type="button" name="action" value="back" class="default-button" onclick="location.href='/athletes/'">Voltar</button>   
        </div>
    </form>
{% endblock content %}