{% extends "registration/base.html" %}
{% block content%}
    <h2>Registo de Atleta</h2>

    <form action="" method="post" class="main-form">
        {% csrf_token %}
        {{form.as_p}}
        <p class="form-selection-boxes">
            <label for="id_match_type_kata">Kata: </label>
            <input type="checkbox" id="id_match_type_kata" name="match_type_kata">
        </p>
        <p class="form-selection-boxes">
            <label for="id_match_type_kumite">Kumite: </label>
            <input type="checkbox" id="id_match_type_kumite" name="match_type_kumite">
        </p>
        <div style="display: flex; gap: 20px; margin-top: 30px;">
            <button class="default-button">Submeter</button>
            <button type="button" class="default-button" onclick="location.href='/athletes/'">Voltar</button>   
        </div>
    </form>
{% endblock content %}