{% extends "registration/base.html" %}
{% load static %}
{% block content %}

    <div class="help-container">
      <h2>Bem-vind@ à interface de registo para as provas da SKI-Portugal</h2>
      <p>Esta plataforma foi desenvolvida com o objetivo de simplicar e tornar a experiência de inscrever os seus atletas nas provas mais fácil e amigável.
        Está inserida dentro da <a style="cursor: pointer; color:cornflowerblue;" href="https://karate-score-app.netlify.app/">Karate Score App</a>, onde se inclui a Interface de Resultados da SKI-P.
      </p>
      <p>Está disponível no menu lateral, uma aba de "Feedback", onde agradecia desde já que submetessem as vossas sugestões,
        reclamações, ou eventuais erros que encontrem durante a utilização deste site.
      </p>
      <p>Nesta página pode encontrar todas as informações e ajudas que irá necessitar para o preenchimento dos formulários e navegação nesta plataforma.
        Vamos começar!
      </p>
      <!--<div style="display: flex; align-items: center;">-->
      <!--  <p style="margin: 0;">Se quiser suportar o meu trabalho para continuar a melhorar este sítio, clique neste café </p>-->
      <!--  <a href="https://buymeacoffee.com/ozefreitas">-->
      <!--    <img -->
      <!--      src="{% static 'registration/images/icons8-coffee-48.png' %}"-->
      <!--      alt="buy me a coffee"-->
      <!--      style="cursor: pointer; display: block; padding-left: 10px;">-->
      <!--  </a>-->
      <!--</div>-->
      <h4>Periodo de inscrições</h4>
      <p>Cada prova do calendário terá datas e intervalos de tempo definidos para cada dojo inscrever os seus atletas.
        A plataforma abrirá a inscrição 1 mês antes do dia da prova, fecha 2 semana antes, e dará 1 semana para retificar.
        Ou seja, o periodo fecha definitivamente na segunda-feira anterior à realização da prova. A semana de retificação não permitirá
        inscrever novos atletas, apenas alterar/editar inscrições existentes. Findo este periodo, será impossível inscrever via plataforma.
        Caso surja algum problema, <a style="cursor: pointer; color:cornflowerblue;" onclick="window.scrollTo(0, document.body.scrollHeight);">contacte</a>.
      </p>
      <h4>Criar Conta</h4>
      <p>Antes de iniciar qualquer ação, deve criar uma conta. Para aceder, basta clicar em "Criar Conta" no canto superior direito
        do ecrã. Apenas pode ser criada uma conta por Dojo.
        Os Dojos que podem criar conta estão listados sobre o "Nome de utilizador (dojo)".
        A partir do momento que uma conta é criada, esse Dojo irá desaparecer desta lista. Por enquanto, este processo
        decorrerá à base da confiança, sendo que estou a trabalhar num método próprio de autenticação, de modo a verificar
        a real identidade do Dojo por detrás de cada computador. Poderá encontrar mais informações na página correspondente.
      </p>
      <h4>Login</h4>
      <p>
        Após criar conta, será automaticamente direcionado para a página de Login. Se já tiver uma conta e quiser entrar, clique em "Login",
      também no canto superior esquerdo. Terá de introduzir o nome <strong>exato</strong> do seu Dojo, o mesmo nome que selecionou
      no menu. Qualquer desvio não irá permitir iniciar sessão. Não dispõe de limite de tentativas, pelo que pode continuar a
      tentar enquanto a paciência ainda existir.
      </p>
      <h4>Menu Lateral</h4>
      <p>Em todas as páginas da plataforma, do lado esquerdo, estará sempre disponível um menu com atalhos para aceder aos diferentes sítios,
        sendo acessível carregando nos três tracinhos em baixo do símbolo da SKI-P.
      </p>
      <h4>Acesso aos registos</h4>
      <p>Com a sessão iniciada, já consegue ver novos botões:
        <ul>
          <li>Atletas</li>
          <li>Competições</li>
        </ul>
        Caso não consiga ver nada, inicie sessão. Se persistir,
        <a style="cursor: pointer; color:cornflowerblue;" onclick="window.scrollTo(0, document.body.scrollHeight);">contacte</a>.
      </p>
      <h4>Perfil</h4>
      <p>Na secção do perfil pode consultar e editar as informações do seu dojo. Pode também consultar notificações para o seu dojo.</p>
      <h4>Consulta de Competições</h4>
      <p>Na página das <a style="cursor: pointer; color:cornflowerblue;" href="{% url 'registration-home' %}">Competições</a>, terá a listagem de todas as provas disponíveis.
      Poderá consultar informações à cerca das mesmas, como data e local, por exemplo, no entanto apenas poderá inscrever nas provas que estejam
      dentro do período normal de inscrição. Clicar em <strong>Informações</strong> levará à pagína onde pode efeutar as inscrições. <br>Dentro
      desta sim, encontrará botões que o irão redirecionar para a respetiva inscrição.</p>
      <p>Agora também já pode inscrever os praticantes que deseja levar a estágios e outros tipos de encontros!</p>
      <h4>Registo de Atletas</h4>
      <p>Na página <a style="cursor: pointer; color:cornflowerblue;" href="{% url 'registration-athletes' %}">Atletas</a>, pode adicionar atletas através do botão <strong>Adicionar</strong>.
        O registo destes é único e servem como uma base de dados de identificação dos seus atletas. Não servem como registo numa determinada prova.
      <p>A um atleta ficará sempre associado a prova onde participa, o seu escalão, idade, género, entre outros. Ou seja, O mesmo atleta terá duas linhas
        no caso de fazer Kata e Kumite.
      </p>
      <p>Este registo de atleta é permanente e será salvo na sua conta, para depois o inscrever em todas as provas que bem desejar.</p>
        <ul>
          <li>Formulário de registo</li>
          Aqui terá de preencher toda a informação necessária para a identificação do atleta:
          <ol>
            <li>Todos os campos são obrigatórios, excepto: Nº SKI-P e Peso</li>
            <li>No caso de atletas que fazem ambas provas, deverá selecionar ambas caixas.</li>
            <li>A plataforma fará a validação dos dados inseridos automaticamente, segundo as regras em vigor para cada competição/época.</li>
            <li>Caso algum campo não estiver de acordo com as regras, o registo não será consumado, e uma mensagem de erro será mostrada.</li>
            <li>Pelo contrário, se estiver correta, um novo atleta será adiciono por cada prova selecionada no formúlario.</li>
            <li><strong>É sempre recomendado dar uma vista de olhos nas
              <a style="cursor: pointer; color:cornflowerblue;" href="{% url 'registration-rules' %}">Regras</a>.</strong></li>
          </ol>
        </ul>
        Lembre-se que aqui também devem ser inscritos todos os atletas que queira fazer parte em qualquer prova, seja ela Individual ou em Equipas.
      </p>
      <p>Para além disso, também terá de inscrever todos aqueles que pretende levar a estágios. Para este caso, apenas terá de selecionar a caixa
        <strong>Aluno</strong> no formulário de registo.
      </p>
      <h4>Inscrições em provas Individuais</h4>
      <p>Em cada ecrã de prova, poderá depois inscrever os seus atletas em provas individuais, através do botão correspondente.
        Na página resultante, pode selecionar os atletas que pretende levar em provas individuais
        através do botão <strong>Adicionar</strong>. Serlhe-á apresentada uma página de Seleção de Atletas, com a listagem completa dos mesmos atletas
        que registou.
      </p>
      <p>Atenção que não poderá adicionar o mesmo atleta mais que uma vez.</p>
      <h4>Inscrições em provas de Equipas</h4>
      <p>As Equipas funcionam de maneira semelhante aos Atletas. No entanto, ao invés de
        inscrever novamente cada atleta, terá uma área de seleção de cada um dos elementos, a partir dos atletas inscritos anteriormente.</p>
      <p>Atenção que, em ambos Individuais e Equipas não será possível alterar, diretamente, a informação de um Atleta. <strong>
        Isto terá sempre que ser feito através da página dos <a style="cursor: pointer; color:cornflowerblue;" href="{% url 'registration-athletes' %}">Atletas</a>.
      </strong></p>
        <h4>Geral</h4>
      <p>Em cada página de registo, terá uma linha de filtros para ordernar da forma ou filtrar os resultados que quiser.
        Quando efetuada uma inscrição, irá aparecer uma nova linha na página. POderá também ver um quadradinho de opções. Se carregar,
        terá as opções de <i>Consultar</i>, <i>Editar</i> e <i>Eliminar</i>.
      </p>
    </div>
{% endblock content %}
