{% extends "registration/base.html" %} 
{% block content%}
{% if user.is_authenticated %}
<div>
    <div>Página de inicio Karate Score App</div>
    <div>Atenticado como <strong>{{user.username}}</strong></div></div>
{% else %}
    <h2>Página de inicio Karate Score App</h2>
{% endif %}
{% if messages %}
    {% for message in messages %}
        {{message}}
    {% endfor %}
{% endif %}

{% if athlets %}
<h3>Atletas já inscritos</h3>
{% else %}
<h4>Ainda não tem atletas inscritos</h4>
{% endif %}
{% for athlete in athlets %}
    <p>{{athlete.first_name}} {{athlete.last_name}} {{athlete.match_type}} {{athlete.category}} <a href="{% url 'registration-update' athlete.id %}">Editar inscrição</a></p>
    <form action="{% url 'registration-delete' athlete.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Eliminar inscrição</button>
    </form>
<hr>
{% endfor %}
<button style="margin-top: 20px;" onclick="location.href='/form/'">Inscrever Atleta</button>
{% endblock content %}
