{% extends "registration/base.html" %}
{% load static %}
{% block content %}

<h1>Interface de registos</h1>
<p>Escolha uma prova para inscrever os seus atletas:</p>

  <div class="competition-card-selector">
    {% for comp in comps%}
      <div class="competition-card">
        {{comp}} {{comp.season}}
        {% if not comp.has_ended %}
          <button class="default-button">Inscrever</button>
        {% else %}
          <p style="font-size: smaller;">O prazo para as inscrições terminou!</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock content %}
