{% extends "registration/base.html" %} 
{% block content %}
<h1>Provas Individuais</h1>

{% if individuals %}
    <h3>Atletas inscritos:</h3>
    
    <div class="filter-options-container">
      <form action="" method="post">
        <div class="number_athletes_info">
          <span>{{ number_indiv }} atleta{% if number_indiv > 1 %}s{% endif %}</span>
        </div>
        <div class="filter_form">
          {% csrf_token %}
          {{filters}}
        <button class="default-button">Filtrar</button>
        <button class="default-button" onclick="location.href='/individual/'">Limpar</button>
      </div>
      </form>
    </div>
      
    {% for individual in individuals %}
      {% include 'components/individuals_list.html' %}
    {% endfor %}
{% else %}
    <div>Ainda sem atletas inscritos</div>
{% endif %}

<button class="add_button" onclick="location.href='/individual/athletes_preview/'">
    <span class="text">Adicionar</span
    ><span class="icon"
        ><svg
        viewBox="0 0 24 24"
        height="24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
        ></svg>
        <span class="buttonSpan">+</span>
    </span>
</button>

{% endblock content %}
