{% extends "registration/base.html" %} 
{% block content%}
    <h2>Inscrições Individuais</h2>
    <div style="border: 2px solid grey; border-radius: 10px;">
        {% if individuals %}
            {% for individual in individuals %}
                <div style="display: flex; justify-content: space-between; border-bottom: 2px solid grey; padding-bottom: 10px; padding-top: 10px;">
                    <div style="padding-left: 20px;">{{individual}}</div>
                    <div style="padding-right: 20px;">
                        <span>{{individual.match_type|title}}</span>
                        <span>{{individual.category}}</span>
                        <span>{{individual.gender|title}}</span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Não registou qualquer Individual nesta competição.</p>
        {% endif %}
    </div>
    <h2>Inscrições de Equipas</h2>
    <div style="border: 2px solid grey; border-bottom: 2px solid grey; border-radius: 10px;">
        {% if teams %}
            {% for team in teams %}
                <div style="border-bottom: 2px solid grey; display: flex; justify-content: space-between; padding-top: 10px;">
                    {% for field in team %}
                        {% if forloop.first %}
                            <div style="margin-left: 20px;">{{field}}</div>
                        {% else %}
                            <div>
                                {% for athlete in field %}
                                    <div style="margin-bottom: 10px; margin-right: 20px; border-bottom: 2px solid grey;">{{athlete}}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <p>Não registou qualquer Equipa nesta competição.</p>
        {% endif %}
    </div>
{% endblock %}