{% extends "registration/base.html" %}
{% block content%}
    <h2>Registo de Equipa de {{match_type|title}}</h2>

    <div class="info-container">
      <span class="containers-label">Info</span>
      <p>Apenas um elemento de cada equipa pode vir de um escalão inferior, mas nenhum pode vir de um escalão superior.</p>
      <p>Por exemplo, uma equipa de Kata Júnior Masculino, só poderá trazer um elemento Cadete, e nunca um elemento Sénior.
        Os escalões de cada atleta são calculados de acordo com a idade.
      </p>
    </div>

    <form method="post" id="athlete_form" class="main-form">
      <div>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" form="athlete_form" name="action" value="search" class="default-button">Procurar</button>
      </div>
      <div style="margin-bottom: 20px;">
        {% for athlete in athletes %}
            <div class="athlete-details-preview">
                <label for={{athlete.id}}>{{athlete}} 
                    {{athlete.match_type|title}} 
                    {{athlete.category|title}} 
                    {{athlete.gender|title}}
                    {% if athlete.weight is not None and athlete.weight != "" and athlete.weight != "open"  %}
                        {{athlete.weight}}Kg
                    {% elif athlete.weight == "open" %}
                        Open
                    {% endif %}
                </label>
                <input type="checkbox" name="{{athlete.id}}" id="{{athlete.id}}">
            </div>
        {% endfor %}
      </div>
      <div class="form-submit-options">
        <button type="submit" form="athlete_form" name="action" value="save_back" class="default-button">Submeter e Voltar</button>
        <button type="submit" form="athlete_form" name="action" value="save_add" class="default-button">Submeter e Adicionar Novo</button>
        <button type="button" name="action" value="back" class="default-button" onclick="location.href='{% url 'registration-teams' comp_id %}'">Voltar</button> 
      </div>
    </form>
{% endblock content %}