{% extends "registration/base.html" %}
{% block content%}
    <h2>Registo de Equipa</h2>

    <form method="post" id="athlete_form" class="main-form">
        {% csrf_token %}
        {{form.as_p}}
    </form>
    <div style="display: flex; gap: 20px; margin-top: 30px;">
      <button type="submit" form="athlete_form" name="action" value="save_back" class="default-button">Submeter e Voltar</button>
      <button type="submit" form="athlete_form" name="action" value="save_add" class="default-button">Submeter e Adicionar Novo</button>
      <button type="button" name="action" value="back" class="default-button" onclick="location.href='/teams/'">Voltar</button> 
    </div>
{% endblock content %}