{% extends "registration/base.html" %} 
{% block content %}
<h1>Provas de Equipas</h1>

{% if teams %}
  <h3>Equipas inscritas:</h3>

  <div class="filter-options-container">
    <form action="" method="post">
      <div class="number_athletes_info">
        <span>{{ number_teams }} equipa{% if number_teams > 1 %}s{% endif %}</span>
      </div>
      <div class="filter_form">
        {% csrf_token %}
        {{filters}}
        <button type="submit" class="default-button">Filtrar</button>
      </div>
      
    </form>
    <button class="default-button" onclick="location.href='{% url 'registration-teams' comp_id %}'">Limpar</button>
  </div>

  {% for team in teams %}
    {% include 'components/teams_list.html' %}
  {% endfor %}
{% else %}
  {% if not not_found %}
    <div style="margin-top: 30px;">Ainda sem equipas inscritas</div>
  {% endif %}
{% endif %}

{% if not_found %}
  <h2>Não foram encontradas equipas para esse filtro</h2>
  <button onclick="location.href='/teams/'">Voltar</button>
{% else %}
  <div class="main-ops">
    <button class="add_button teams" onclick="location.href='{% url 'registration-teams-form' 'kata' comp_id %}'">
      <span class="text">Adicionar Kata</span
      ><span class="icon"
        ><svg
          viewBox="0 0 24 24"
          height="24"
          width="24"
          xmlns="http://www.w3.org/2000/svg"
        ></svg>
        <span class="buttonSpan">+</span>
      </span>
    </button>

    <button class="add_button teams" onclick="location.href='{% url 'registration-teams-form' 'kumite' comp_id %}'">
      <span class="text">Adicionar Kumite</span
      ><span class="icon"
        ><svg
          viewBox="0 0 24 24"
          height="24"
          width="24"
          xmlns="http://www.w3.org/2000/svg"
        ></svg>
        <span class="buttonSpan">+</span>
      </span>
    </button>

    {% if teams %}
      <button id="delete-account-span" class="delete_button" type="submit">
        <span class="text">Eliminar todas</span>
        <span class="icon">
          <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24">
            <path
              d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
            ></path>
          </svg>
        </span>
      </button>
    {% endif %}
  </div>
  <!-- Modal window -->
  <div id="deleteModal" class="delete-modal">
    <div>
      <p>Tem a certeza que quer eliminar todas as equipas? Esta ação não pode ser desfeita.</p>
        <a id="confirm-delete" href="{% url 'registration-delete' 'team' 0 0 %}">Confirmar</a>
        <a id="cancel-delete" href="{% url 'registration-teams' comp_id %}">Cancelar</a>
    </div>
  </div>

{% endif %}

{% endblock content %}
