{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'registration/css/main.css' %}"
    />
    <script src="{% static 'registration/js/main.js' %}"></script>
  </head>

  <body>
    <h3>Algo correu mal, retroceda e verifique a inscrição novamente</h3>
    <h4>Descrição dos erros:</h4>
    <p>
        {% if messages %}
          <div class="messages" id="messages">
              {% for message in messages %}
                  <div class="alert-{{ message.tags }}">{{ message }}</div>
              {% endfor %}
          </div>
          <script>
            // hideMessagesAfterTimeout({{ message.tags }}); // 10 seconds
          </script>
        {% endif %}
    </p>
    <button class="default-button" onclick="location.href='/form/'">Voltar ao formulário</button>
  </body>
</html>
